<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Geburtsmonat</th>
      <th scope="col">Termine</th>
      <th scope="col">Kapazität</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Site.Data.courses }} 
    {{ $geburtsMonat := .geburtsMonat }}
    {{ range  $i, $e :=  .termine }} 
    <tr>
      <th scope="row">{{ if eq $i 0 }}{{ $geburtsMonat }}{{end}}</th>
      <td>{{.tag}}</td>
      <td>{{ if eq .kapa 0 }}Ausgebucht{{else}} <a href='{{ "applynow" | relURL }}'>Freie Plätze</a> {{end}}</td>
    </tr>
    {{end}}
    {{end}}
  </tbody>
</table>
<a class="button" href='{{ "applynow" | relURL }}'>Anmelden oder auf die Warteliste</a>
